<% include ./template/header.html %>

<link href="/css/json.css" rel="stylesheet" media="screen">
<script src="/js/jsonformatter.js"></script>
<div class="container">
    <div class="bs-example" data-example-id="textarea-form-control">
        <h2>JSON Formatter</h2>

        <div id="ControlsRow">
            <button type="button" class="btn btn-sm btn-primary connect" onclick="Process()">
                <span class="glyphicon glyphicon-ok"></span> Format
            </button>

            <span id="TabSizeHolder">Indent
                <select id="TabSize" onchange="TabSizeChanged()">
                    <option value="1" selected="true">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </span>

            <label for="QuoteKeys">
                <input type="checkbox" id="QuoteKeys" onclick="quoteKeysClicked()" checked="true" /> Quote
            </label>&nbsp;

            <a href="javascript:void(0);" onclick="SelectAllClicked()">Select All</a> &nbsp;

            <span id="CollapsibleViewHolder">
                <label for="CollapsibleView">
                    <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked="true" /> 
                    Show Options
                </label>
            </span>

            <span id="CollapsibleViewDetail">
                <a href="javascript:void(0);" onclick="ExpandAllClicked()">Expand All</a>
                <a href="javascript:void(0);" onclick="CollapseAllClicked()">Collapse All</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(3)">Level 2</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(4)">Level 3</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(5)">Level 4</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(6)">Level 5</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(7)">Level 6</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(8)">Level 7</a>
                <a href="javascript:void(0);" onclick="CollapseLevel(9)">Level 8</a>
            </span>
        </div>

        <div class="row">
            <div class="col-md-4">
                <textarea class="form-control" rows="20" id="RawJson" name="RawJson" 
                    required="true" placeholder="Input your json here"></textarea>
            </div>

            <div class="col-md-7">
                <div class="Canvas" id="Canvas">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 50px;" />
<% include ./template/footer.html %>