<% include ./template/header.html %>
<div id="content">
    <div class="container">
        <div class="col-sm-12">
            <h2>Execute Query</h2>
        </div>

        <% if (notLogin) { %>
            <% include ./template/notLogin.html %>
        <%} else { %>
            <form name="form" method="post" action="/query">
                <div class="form-group col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Place your SOQL here: </h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-8" style="margin-top: 5px;">
                                    <textarea class="form-control" rows="5" id="soql" name="soql" 
                                        required="true" placeholder="SELECT Id FROM Account LIMIT 50"></textarea>
                                </div>

                                <div class="col-sm-4">
                                    <div class="btn-group" style="margin-top: 5px;">
                                        <button type="button" id="executeQuery" class="btn btn-primary connect">
                                            <span class="glyphicon glyphicon-search"></span> Query
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Execution Result:</h3>
                        </div>

                        <div class="panel-body" id="query_result">
                        </div>
                    </div>
                </div>
            </form>
        <%}%>
    </div>
</div>

<div id="edit-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-keyboard="true" data-show="true" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Record</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" action="/login">
                    <div class="form-group">
                        <label for="instanceUrl" class="control-label col-sm-3">Login URL: </label>
                        
                        <div class="col-sm-9">
                            <select id="login_url" class="form-control" name="login_url">
                                <option value="https://login.salesforce.com">Production</option>
                                <option value="https://test.salesforce.com">Sandbox</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="clientSecret" class="control-label col-sm-3">Client Secret: </label>
                        <div class="col-sm-9">
                            <input type="text" id="client_secret" name="client_secret" 
                                class="form-control" placeholder="Client Secret" 
                                required="true" autofocus="true"
                                value="6154018842396108114" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="clientId" class="control-label col-sm-3">Client ID: </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" id="client_id" style="resize: none;" 
                                name="client_id" required="true" placeholder="Client ID">3MVG9Y6d_Btp4xp5NwcRLAU5Ct6gjXLPoSW43wDXmP0NR5siDu10UMOBMnPip9v02g_emnt1gJetjbnCH9N3y</textarea>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary update">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<link id="style" href="/columns/css/clean.css" rel="stylesheet" media="screen">
<script src="/columns/js/jquery.columns.min.js"></script>
<script src="/underscore/underscore-min.js"></script>
<script>
    var records = [];

    $("#executeQuery").on("click", function() {
        soql = $("#soql").val();
        body = {soql: soql};

        $.post('/query', body, function(resp) {
            // Error Response
            if (type.isString(resp)) {
                $('#query_result').html(error_div.format(resp));
                return;
            }

            if (resp.totalSize == 0) {
                $('#query_result').html("No matched records");
                return;
            }

            // Keep this variable
            records = resp.records;

            // Initiate table
            initiateTable(records);
        });
    });

    function initiateTable(records) {
        schema = [];
        keys = Object.keys(records[0]);
        _type = records[0].attributes.type;
        console.log(_type);
        if (records[0].Id) {
            schema.push({
                "header": "Action",
                "key": "Id",
                "template": function(row, key) {
                    value = row[key];
                    return ('<a style="cursor: pointer;" href="{0}/{1}/edit">Edit</a> | ' +
                            '<a style="cursor: pointer;" id="{1}" onclick="deleteRow(this);">Del</a>').format(_type, value);
                }
            })
        }

        Object.keys(records[0]).forEach(function(key) {
            if (key != "attributes") {
                schema.push({
                    "header": key, 
                    "key": key,
                    "template": function(row, key) {
                        value = row[key];

                        // Null value
                        if (type.isNull(value)) {
                            return "";
                        }
                        // Child to Parent
                        else if (type.isObject(value) && !value.records) {
                            value = _.omit(value, "attributes");
                            return '<div><pre>' + JSON.stringify(value, null, "  ") + '</pre></div>';
                        }
                        // Parent to Children
                        else if (type.isObject(value) && value.records) {
                            records = _.map(value.records, function(record) {
                                return _.omit(record, "attributes");
                            });

                            return '<a style="cursor: pointer;" onclick="showDetail(this);">Show Detail(' + records.length + 
                                   ')</a><div style="display:none;"><pre>' + JSON.stringify(records, null, "  ") + '</pre></div>';
                        }
                        else {
                            // Id value
                            var idRegExp = new RegExp(/[a-zA-Z0-9]{15,18}/ig);
                            if (idRegExp.test(value)) {
                                return "<a href='/{0}/{1}'>{1}</a>".format(_type, value);
                            }

                            // Other
                            return value;
                        }
                    }
                })
            }
        });

        $('#query_result').data('columns', null);
        $('#query_result').columns({
            size: 10,
            data: records,
            schema: schema
        });
    }

    /**
     * Delete Chosen Record
     * @param     {DOM}    ele    Record Row
     * @return
     */
    function deleteRow(ele) {
        if (confirm("Are you sure you really want to delete this row?")) {
            record_id = $(ele).attr("id")
            $.ajax({
                url: '/:{0}/del'.format(record_id),
                type: 'DELETE',
                success: function(resp) {
                    if (resp.success) {
                        records = _.reject(records, function(record) {
                            return record.Id === record_id
                        });

                        initiateTable(records);

                        alert("Delete Succeed");
                    }
                    else {
                        alert(resp);
                    }
                }
            });
        }
    }
    
    /**
     * Show Detail if detail if not visible, else hide detail
     * @param     {DOM Element}    ele   
     * @return
     */
    function showDetail(ele) {
        if ($(ele).text().startsWith("Show")) {
            $(ele).next().show();
            $(ele).text($(ele).text().replace("Show", "Hide"));
        }
        else {
            $(ele).next().hide();
            $(ele).text($(ele).text().replace("Hide", "Show"));
        }
    }
</script>

<style>
    #query_result td {
        vertical-align: top;
    }

    #query_result table {
        width: 100%;
    }
</style>
<% include ./template/footer.html %>