<% include ./template/header.html %>

<div class="container">
    <div class="col-sm-12">
        <h2>Execute Rest</h2>
    </div>

    <% if (notLogin) { %>
        <% include ./template/notLogin.html %>
    <%} else { %>
        <form name="form" method="post" action="/rest">
            <div class="form-group col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Place HTTP method, REST URI and Body here: </h3>
                    </div>

                    <div class="panel-body">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="radioBtn btn btn-default active">
                                <input type="radio" id="get" name="rest_method" value="get" checked="true" /> Get
                            </label>

                            <label class="radioBtn btn btn-default">
                                <input type="radio" id="post" name="rest_method" value="post" /> Post
                            </label>

                            <label class="radioBtn btn btn-default">
                                <input type="radio" id="put" name="rest_method" value="put" /> Put
                            </label>

                            <label class="radioBtn btn btn-default">
                                <input type="radio" id="patch" name="rest_method" value="patch" /> Patch
                            </label>

                            <label class="radioBtn btn btn-default">
                                <input type="radio" id="delete" name="rest_method" value="delete" /> Delete
                            </label>

                            <label class="radioBtn btn btn-default">
                                <input type="radio" id="head" name="rest_method" value="head" /> Head
                            </label> 
                        </div>

                        <div class="row">
                            <div class="col-sm-8" style="margin-top: 5px;">
                                <textarea class="form-control" rows="1" cols="25" id="rest_uri" name="rest_uri" 
                                    required="true"><%- rest_uri %></textarea>
                            </div>

                            <div class="col-sm-4">
                                <div class="btn-group" style="margin-top: 5px;">
                                    <button type="button" id="executeRest" class="btn btn-primary connect">
                                        <span class="glyphicon glyphicon-ok"></span> Execute
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="rest_body_div" class="row" style="display: none; ">
                            <div class="col-sm-8" style="margin-top:5px;">
                                <textarea class="form-control" rows="10" cols="10" id="rest_body" name="rest_body" 
                                    placeholder="Place your body here"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Execution Result:</h3>
                </div>

                <div class="panel-body">
                    <% if (hasMessage) {%>
                        <% include ./template/messages.html %>
                    <%} else {%>
                        <div class="col-md-12" id="control" style="display: none;">
                            <div class="btn-group">
                                <label class="btn btn-default btn-sm">
                                    <span id="TabSizeHolder">Indent
                                        <select id="TabSize" onchange="tabSizeChanged()">
                                            <option value="1" selected="true">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </span>
                                </label>

                                <button type="button" class="btn btn-default btn-sm" onclick="selectAllClicked()">Select All</button>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" onclick="expandAllClicked()">Expand All</button>
                                <button type="button" class="btn btn-default btn-sm" onclick="collapseAllClicked()">Collapse</button>
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(2)">Level 2</a></li>
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(3)">Level 3</a></li>
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(4)">Level 4</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(5)">Level 5</a></li>
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(6)">Level 6</a></li>
                                    <li><a href="javascript: void(0)" onclick="collapseLevel(7)">Level 7</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <input type="checkbox" id="quoteKeys" checked="true" 
                                    onclick="quoteKeysClicked()">Quote</input>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <textarea id="RawJson" class="form-control" style="display:none" rows="0" 
                                name="RawJson" required="true"></textarea>
                        </div>

                        <div class="col-md-12">
                            <div class="Canvas" id="Canvas"></div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    <%}%>
</div>

<script>
    $(function() {
        $(".radioBtn").on("click", function() {
            rest_method = $(this).children().val();
            if ($.inArray(rest_method, ["post", "patch", "put"]) != -1) {
                $("#rest_body_div").show();
            }
            else {
                $("#rest_body_div").hide();
            }
        })

        $("#executeRest").on("click", function() {
            rest_method = $(".radioBtn.active").children().val();
            rest_url = $("#rest_uri").val();
            rest_body = $("#rest_body").val();
            
            var body = {
                method: rest_method,
                url: rest_url,
                body: rest_body
            }

            $.post('/rest', body, function(resp) {
                if (type.isString(resp)) {
                    $("#control").hide();
                    $("#Canvas").html(error_div.format(resp));
                    return;
                }

                $("#control").show();
                $("#RawJson").val(JSON.stringify(resp, null, "  "));
                process();
            });
        });
    });
</script>

<div style="height: 50px;" />
<% include ./template/footer.html %>