        <script>
            $body = $("body");

            $(document).on({
                ajaxStart: function() { $body.addClass("loading");},
                ajaxStop: function() { $body.removeClass("loading");}
            });
        </script>

        <!-- CSS -->
        <link href="/common/styles/default.css" rel="stylesheet" media="screen">
        <link href="/highlight/styles/default.css" rel="stylesheet" media="screen">
        <link href="/sweetalert/styles/sweet-alert.css" rel="stylesheet" media="screen">
        <link href="/font-awesome-430/css/font-awesome.min.css" rel="stylesheet" media="screen">

        <!-- JS -->
        <script src="/sweetalert/js/sweet-alert.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/jstree/js/jstree.min.js"></script>
        <script src="/highlight/highlight.js"></script>
        <script src="/common/js/util.js"></script>

        <script>
            $(function() {
                var url = document.location.pathname;
                $('.nav a[href="'+url+'"]').parent().addClass('active');

                hljs.configure({languages: ['javascript', 'json', 'html']});
                $('pre code').each(function(i, element) {
                    hljs.highlightBlock(element);
                });

                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </body>
</html>