<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:title" content="Haoku" />
    <meta property="og:description" content="Utilities for salesforce.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://github.com/haoku" />
    <meta property="og:image" content="http://jsforce.github.io/images/jsforce-logo.png" />
    <meta property="og:site_name" content="JSforce" />
    <link rel="icon" href="/common/img/favicon.png">
    <title>Haoku</title>

    <link href="/bootstrap/styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/json/json.css" rel="stylesheet" media="screen">

    <script src="/jquery/jquery.min.js"></script>
    <script src="/json/jsonformatter.js"></script>
    
    <script>
        $(function() {
            $("#navigation").on("click", "#logout", function(e) {
                e.preventDefault();
                if (confirm("Are you sure you really want to logout?")) {
                    location.href = "/logout";
                }
            })
        })
    </script>
</head>

<body class="top">
    <!-- Fixed navbar -->
    <div id="navigation" class="navbar navbar-default" role="navigation">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Haoku</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/query">Query</a></li>
                        <!-- <li><a href="/account/o">Account</a></li> -->
                        <li><a href="/rest">Rest</a></li>
                        <li><a href="/jsonu">JSON</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                                aria-expanded="false">Tools <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a>
                                </li>
                                <li><a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <% if (!session.accessToken) { %>
                            <li>
                                <a href="#" onclick="$('#oauth-dialog').modal('show');">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                            </li>
                        <%} else {%>
                            <li>
                                <a href="#" id="logout">
                                    <span class="glyphicon glyphicon glyphicon-user"></span> 
                                    Logout as <%- session.userInfo.Username %>
                                </a>
                            </li>
                        <%}%>
                        <li>
                            <a target="_blank" href="https://github.com/xjsender/Haoku">
                                <span class="glyphicon glyphicon-heart"></span>
                                Github
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="oauth-dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-keyboard="true" data-show="true" 
                                    data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Connect to Salesforce</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" class="form-horizontal" action="/login">
                                    <div class="form-group">
                                        <label for="instanceUrl" class="control-label col-sm-3">Login URL: </label>
                                        
                                        <div class="col-sm-9">
                                            <select id="login_url" class="form-control" name="login_url">
                                                <option value="https://login.salesforce.com">Production</option>
                                                <option value="https://test.salesforce.com">Sandbox</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" id="connect" class="btn btn-primary connect">Connect</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <div id="edit-dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-keyboard="true" data-show="true" 
                                    data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Update Record</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="editForm"></form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="update" class="btn btn-primary update">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="showDetail-dialog" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-keyboard="true" data-show="true" 
                                    data-dismiss="modal" data-keyboard="true" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Record Detail</h4>
                            </div>
                            <div class="modal-body" id="showDetail-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AJAX Loading Part -->
                <div class="loading-modal" id="loading-modal"></div>
            </div>
        </nav>
    </div>
